$dayBase: 36px;

$cloud: #ccc;
$base:5px;
$concrete: #fff;
$seafoam: blue ;
$white: #fff;
$teal: black;
$light-blue-grey: #888;

.calendar {
  display: block;
  width: $dayBase * 7;

  * {
    box-sizing: border-box;
  }
  .month-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      background: transparent no-repeat;
      border: 0 none;
      width: 40px; height: 40px;
      cursor: pointer;
      &.prev-btn {
        background-image: url('../../../assets/img/flecha-izq_ch_1.png');
        &:hover {
          background-image: url('../../../assets/img/flecha-izq_ch_2.png');
        }
      }
      &.next-btn {
        background-image: url('../../../assets/img/flecha-der_ch_1.png');
        &:hover {
          background-image: url('../../../assets/img/flecha-der_ch_2.png');
        }
      }
    }
    span {
      font-size: 1.5em; color: #fff;
      margin-top: 6px; margin-bottom: 22px;
    }
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
  }

  .month-grid {
    .day-names {
      display: flex; flex-direction: row;
      background: $concrete;
      border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .day-name {
      font-weight: bold;
    }
    .week-date,
    .day-name {
      text-align: center;
      display: block;
      width: $dayBase;
      padding: $base;
      display: flex; justify-content: center; align-items: center;      
    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 14px;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9; width: $dayBase * 0.9;
        position: absolute;
        top: 50%; left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        transition: background-color 150ms linear, color 150ms linear;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          color: #fff;
          &:after {
            background-color: #079030;
          }
        }
      }
      &.selected {
        color: $white;
        &:after {
          background-color: $teal;
        }
        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      &.disabled {
        color: $light-blue-grey;
      }
    }

    .today {
      font-weight: bold;
      background-color: #dbdbdb;
    }
  }
} 