<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="logo" src="assets/img/logo_descubreleon.png"/>
      </div>
      <div class="col">
        <h3>Quiénes Somos</h3>
        <p>Publicamos recomendaciones sobre a dónde ir, qué hacer y qué comer en León, México. #DescubreLeón En línea desde 2008.</p>
      </div>
      <div class="col">
        <h3>Registra tu evento</h3>
        <p>Forma de registro de eventos</p>
      </div>
      <div class="col advertise">
        <h3>Anuncia tu negocio</h3>
        <p>Información publicitaria</p>
      </div>
      <div class="col followus">
        <h3>Síguenos</h3>
        <p>
          <a class="facebook-btn" target="_blank" href="https://www.facebook.com/descubreleon"></a>
          <a class="twitter-btn" target="_blank" href="https://www.twitter.com/descubreleon"></a>
          <a class="instagram-btn" target="_blank" href="https://www.instagram.com/descubreleon"></a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p class="text-lg-right text-md-center">©2018 Derechos Reservados Descubre León.</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <p class="text-md-center">
          <a href="javascript:void(0)" style="margin-right: 10px;">Advertencia Legal.</a>
          <a href="javascript:void(0)" style="margin-right: 10px;">Política de privacidad.</a>
          <span>Sitio desarrollado por: </span>
          <a href="javascript:void(0)">Iconosphera</a>
        </p>
      </div>
    </div>
  </div>
</div>
