<mat-toolbar>
  <!-- <div fxHide.gt-xs>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-md-down">
        &nbsp;
      </div>
      <div class="middle-text col-md-4 col-sm-12 text-center text-white">
        <a href="javascript:void(0)">
          Hola Edmundo Ramírez
        </a>
      </div>
      <div class="navigation-items col-md-4 col-sm-12 text-white text-right text-sm-center px-0">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-bookmark"></mat-icon>
              <span  class="label">Favoritos</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
              <span class="label">Mi cuenta</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
              <span class="label">Español</span>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="header-section">
  <div class="background-carousel">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
  </div>
</div>
