<mat-toolbar>
  <!-- <div fxHide.gt-xs>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-md-down">
        &nbsp;
      </div>
      <div class="middle-text col-md-4 col-sm-12 text-center text-white">
        <a href="javascript:void(0)">
          Hola Edmundo Ramírez
        </a>
      </div>
      <div class="navigation-items col-md-4 col-sm-12 text-white text-md-right text-sm-center px-0">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-bookmark"></mat-icon>
              <span  class="label">Favoritos</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-user-circle"></mat-icon>
              <span class="label">Mi cuenta</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
              <span class="label">Español</span>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="header-section">
  <div class="container">
    <img class="logo d-none d-md-block" src="assets/img/logo_descubreleon.png"/>
    <div class="search-bar d-none d-md-block">
      <form>
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchWord" [ngModelOptions]="{standalone: true}"/>
        <button class="search-btn" (click)="search()">
          <mat-icon fontSet="fa" fontIcon="fa-search"></mat-icon>
        </button>
      </form>
    </div>
    <img class="logo-mobile d-md-none" src="assets/img/logo_descubreleon.png"/>
  </div>  
  <div class="background-carousel">
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
  </div>  
</div>
<div class="main-menu">
  <div class="container">
    <div class="menu-btn-group">
      <button mat-button routerLink="/" routerLinkActive="active">INICIO</button>
      <button mat-button routerLink="/event" routerLinkActive="active">EVENTOS</button>
      <button mat-button>ATRACCIONES</button>
      <button mat-button>RESTAURANTES</button>
      <button mat-button>CAFÉS</button>
      <button mat-button>BARES</button>
      <button mat-button>HOTELES</button>
      <button mat-button>SPAS</button>
    </div>
  </div>
</div>
