mat-toolbar {
  background-color: black;
  height: auto;
  font: inherit;
}
.mat-button {
  font-family: inherit;
}
.middle-text{
  a {
    width: 100%; display: block;
    color: white; font-size: 15px; line-height: 2em;
    text-align: center;    
  }
}
.navigation-items {
  margin: 0;  
  ul {
    margin-bottom: 0;
    float: right;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        font-size: 15px;
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: #ccc;
      }
      .mat-button {
        padding: 0;
        .mat-icon {
          vertical-align: baseline;
        }
      }
    }
  }
}
@media (max-width: 1023.98px) {
  .navigation-items {
    text-align: center !important;
    ul {
      float: none;
      margin: 0 auto;
    }
  }
}

@keyframes imageAnimation {  
  0% {
   animation-timing-function: ease-in;
   opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
.header-section {
  position: relative;
  .background-carousel {
    height: 230px;
    position: relative;
    .image {
      animation: imageAnimation 24s linear infinite 0s;
      backface-visibility: hidden; background-size: cover; background-position: center center;
      color: transparent;
      width: 100%; height: 100%;
      top: 0px; left: 0px;
      opacity: 0;
      position: absolute;
      z-index: 0;
      &:nth-child(1) {
        background-image: url('../../assets/img/banner_fuente.jpg');
      }
      &:nth-child(2) {
        animation-delay: 6s;
        background-image: url('../../assets/img/banner_arco.jpg');
      }
      &:nth-child(3) {
        animation-delay: 12s;
        background-image: url('../../assets/img/banner_ballet.jpg');
      }
      &:nth-child(4) {
        animation-delay: 18s;
        background-image: url('../../assets/img/banner_pizza.jpg');
      }
    }
  }
  .container {
    position: relative;
    .logo {
      position: absolute;
      left: 0;
      top: -30px;
      z-index: 100;
    }
    .logo-mobile {
      position: absolute;
      left: calc(50% - 88px);
      top: -10px;
      z-index: 100;
    }
    .search-bar {
      position: absolute;
      right: 0;
      top: 80px;
      z-index: 100;
      input {
        width: 240px
      }
      .search-btn {
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: 0 none;
        line-height: 2.2em;
      }
    }
  }  
}

.main-menu {
  .menu-btn-group {
    button {
      color: #000;
      font-size: 19.5px; font-weight: 700; line-height: 27px;
      text-align: center;       
      background-color: #fff;
      border-bottom: 4px solid #e8eae9;
      padding-left: 51px; padding-right: 51px; padding-top: 4px;
      @media (max-width: 1023.98px) {
        padding-left: 25px; padding-right: 25px;
      }
      @media (max-width: 767.98px) {
        padding-left: 15px; padding-right: 15px;
      }
      &:hover, &.active {
        color: #fff;
      }
      &:nth-child(1) {
        border-bottom-color: #e8eae9;
        &:hover, &.active {
          color: #000;
          background-color: #e8eae9;
        }        
      }
      &:nth-child(2) {
        border-bottom-color: #fccf04;
        &:hover, &.active {
          background-color: #fccf04;
        }        
      }
      &:nth-child(3) {
        border-bottom-color: #0e8b2f;
        &:hover, &.active {
          background-color: #0e8b2f;
        }        
      }
      &:nth-child(4) {
        border-bottom-color: #fa7b0a;
        &:hover, &.active {
          background-color: #fa7b0a;
        }        
      }
      &:nth-child(5) {
        border-bottom-color: #926d27;
        &:hover, &.active {
          background-color: #926d27;
        }        
      }
      &:nth-child(6) {
        border-bottom-color: #010101;
        &:hover, &.active {
          background-color: #010101;
        }        
      }
      &:nth-child(7) {
        border-bottom-color: #2556d6;
        &:hover, &.active {
          background-color: #2556d6;
        }        
      }
      &:nth-child(8) {
        border-bottom-color: #45a9f5;
        &:hover, &.active {
          background-color: #45a9f5;
        }        
      }
    }
  }
}