.item-box {
  overflow: hidden;
  .time-box {
    width: 110px;
    float: left;
    background-color: #e9e9e9;
    padding: 10px;
    .time-t1 {
      font-size: 0.9em; color: #b8b8b8;
    }
    .time-t2 {
      font-size: 2.2em; font-weight: bold;
    }
    .time-t3 {
      font-weight: bold;
    }
  }
  .content-box {
    width: calc(100% - 135px); float: right;
    overflow: hidden; margin-bottom: 20px;
    .time-box {
      float: none;
      width: 100%;
      background-color: transparent;
      text-align: center; font-size: 1.3em;
    }
    .img-wrapper {
      width: 330px;
      float: left;
      position: relative;
      img {
        overflow: hidden;
        width: 100%; 
        /*
        height: 0;
        padding-top: 237px / 330px * 100%;
        */
      }
      .title {
        background-color: rgba(250, 123, 10, 0.8);
      position: absolute;
      top: 0; left: 0;
      color: #fff; letter-spacing: 1px; 
      padding: 5px 10px;
      }
    }
    .right-wrapper {
      float: right; 
      width: calc(100% - 330px); 
      padding: 10px;
      background-color: #e9e9e9;
      .title {
        a {
          font-size: 1.7em; color: inherit; text-overflow: ellipsis; white-space: nowrap; 
          overflow: hidden; display: block;
        }
      }
      .subtitle {
        text-overflow: ellipsis; white-space: nowrap; 
        overflow: hidden; 
      }
      .short_desc {
        height: 120px; margin-top:15px; overflow: hidden;
      }
      button {
        margin-right: 5px; padding-top: 5px;
        background: #b0b0b0; border: 0 none; 
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: #079030;
        }
      }
    }
    @media(max-width: 768px){
      .img-wrapper {
        width: 100%;
      }
      .right-wrapper {
        width: 100%;
      }
    }
  }
  
}