.container-fluid {
  background-color: #fff;
  &.background-image {
    background-image: url('../../../assets/img/event/portada_01.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }  
  .title-section {
    margin-left: 150px;
    margin-top: 300px;
    width: calc(100% - 480px);
    background-color: #fff;
    height: 200px;
    padding: 30px;
    h2{
      font-size: 50px;
      font-family: Oswald;
      font-weight: bold;
    }
    h5{
      font-size: 32px;
      font-family: Oswald;
    }
    .social{
      padding:20px;
    }
  }
  .archive-section {
    width: calc(100% - 320px);
    float: left;
  }
  .sidebar {
    width: 320px;
    float: right;
  }
}