<div class="container-fluid background-image">
  <div class="container">
    <div class="row">
      <div class="title-section">
        <h2>{{currentDate}}</h2>
        <h5>QUÉ HACER HOY EN LEÓN?</h5>
        <div class="row social">
          <img alt="FaceBook" src="assets/img/descubreleon/global_files/facebook_new.jpg">
          <img alt="Twitter" src="assets/img/descubreleon/global_files/twitter_new.jpg">
          <img alt="whatsapp" src="assets/img/descubreleon/global_files/whatsapp_new.jpg">
          <img alt="Mail" src="assets/img/descubreleon/global_files/mail_new.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="archive-section">
          <app-event-archive></app-event-archive>
        </div>
        <div class="sidebar">
          <app-home-sidebar></app-home-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>