<div class="container-fluid background-image">
  <div class="container">
    <div class="row">
      <div class="title-section">
        <h2 class="current-date">{{title}}</h2>
        <h5>{{subtitle}}</h5>
        <div class="row social-buttons">
          <button mat-button class="facebook">
            <img alt="FaceBook" src="../../../assets/img/facebook_box.png">
            1.7k
          </button>
          <button mat-button class="twitter">
            <img alt="Twitter" src="../../../assets/img/twitter_box.png">
          </button>
          <button mat-button class="whatsapp">
            <img alt="whatsapp" src="../../../assets/img/whatsapp_box.png">
            483
          </button>
          <button mat-button class="email">
            <img alt="Mail" src="../../../assets/img/email_box.png">
            18
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="detail-section">
          <div class="item-box">
            <div class="content-box">
              <div class="description-content">
                <div style="padding: 2%">
                  <img src="assets/img/descubreleon/hoteles/enterpriseinn/reservacion.jpg" />
                </div>
                <h4>Reserva tu habitación</h4>
                <p>En una privilegiada ubicación en la zona de negocios de León, entre importantes vías de comunicación y cerca del Poliforum, el Estadio León y el Centro Histórico, se encuentra el Enterprise Inn, un hotel muy frecuentado por ejecutivos y asistentes a ferias y congresos, que destaca tanto por el confort y equipamiento de sus habitaciones, como por la amabilidad y vocación de servicio de su personal, que está 100% enfocado a lograr la satisfacción del huésped. </p>
                <p>El hotel cuenta con 80 habitaciones, todas equipadas con chapa electrónica, aire acondicionado, cafetera, TV con más de 60 canales, teléfono inteligente con buzón de mensajes, kit de planchado, secadora de pelo, caja fuerte, conexión a internet alámbrico e inalámbrico, y las master suites además tienen frigo-bar y jacuzzi. Combina esta master suite en un paquete lunamielero con una botella de vino blanco espumoso, un platón de frutas, un arreglo floral, la cama y jacuzzi decorados con pétalos de rosas, todo en un ambiente romántico con la vista más espectacular del León de la Calzada, y tendrás una noche muy especial... </p>
                <p>El Enterprise Inn es un hotel que utiliza la tecnología para cuidar del huésped y del medio ambiente: utiliza páneles solares para calentar el agua de la alberca y las habitaciones, recicla aguas jabonosas de regaderas, que se tratan y reutilizan en los W.C; todo el hotel está diseñado para estar bien iluminado con luz natural y ahorrar energía eléctrica; las chapas electrónicas envían a un registro central cuándo fueron abiertas y con qué llave, y en la entrada existe un elevador especial para personas con capacidades diferentes, quienes una vez dentro pueden recorrer el hotel en silla de ruedas sin problemas y disfrutar de habitaciones con instalaciones adecuadas a sus necesidades. </p>
                <p>Para tus reuniones de negocios y eventos especiales, cuenta con 3 salas de juntas, una de uso múltiple con capacidad de hasta 150 personas, y todo el apoyo audiovisual que requieras. Con su alberca, su lobby-bar y su delicioso Restaurante El Faro, El Enterprise Inn es el hotel elegido por el certamen Nuestra Belleza Guanajuato y el equipo de futbol León para sus concentraciones. </p>
              </div>
              <div class="slider-section">
                <div class="flexslider">
                  <ul class="slides">
                    <li>
                      <a class="fancybox" rel="fancybox-button" href="assets/img/hotel/foto01-g.jpg">
                        <img data-u="image" src="assets/img/hotel/foto01-g.jpg" />
                      </a>
                    </li>
                    <li>
                      <a class="fancybox" rel="fancybox-button" href="assets/img/hotel/foto02-g.jpg">
                        <img data-u="image" src="assets/img/hotel/foto02-g.jpg" />
                      </a>
                    </li>
                    <li>
                      <a class="fancybox" rel="fancybox-button" href="assets/img/hotel/foto03-g.jpg">
                        <img data-u="image" src="assets/img/hotel/foto03-g.jpg" />
                      </a>
                    </li>
                    <li>
                      <a class="fancybox" rel="fancybox-button" href="assets/img/hotel/foto04-g.jpg">
                        <img data-u="image" src="assets/img/hotel/foto04-g.jpg" />
                      </a>
                    </li>
                    <li>
                      <a class="fancybox" rel="fancybox-button" href="assets/img/hotel/foto05-g.jpg">
                        <img data-u="image" src="assets/img/hotel/foto05-g.jpg" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="map-section">
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
              
            </div>
          </div>
        </div>
        <div class="sidebar">
          <app-home-sidebar></app-home-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid contact-info-section">
  <div class="container">
    <div class="row">
      <div class="col-full">
        <h4>Enterprise</h4>
      </div>
      <div class="col-half">
        <label>Dirección:</label>
        <span>
          Calzada de los Héroes #602
          esq. Malecón del Río,
          Zona Poliforum 
        </span>
        <label>Teléfono: </label>
        <span>01 (477) 514-60-00.</span>
      </div>
      <div class="col-half">
        <label>Visita:</label>
        <span><a href="http://www.thaiwok.com.mx">www.thaiwok.com.mx</a></span>
        <label>Sigue:</label>
        <span>
          <a class="facebook-btn" target="_blank" href="https://www.facebook.com/descubreleon"></a>
          <a class="twitter-btn" target="_blank" href="https://www.twitter.com/descubreleon"></a>
          <a class="instagram-btn" target="_blank" href="https://www.instagram.com/descubreleon"></a>
        </span>
      </div>
    </div>
  </div>
</div>