.container-fluid {
  background-color: #fff;
  &.background-image {
    background-image: url('../../../assets/img/descubreleon/restaurantes/thaiwok/portada_thaiwok.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }  
  img {
    padding-right: 1%;
  }
  .title-section {
    margin-left: 150px; margin-top: 300px;
    width: calc(100% - 465px);
    background-color: #fff;
    height: 200px; padding: 30px;
    position: relative;
    h2.current-date{
      font-size: 3.51em;
      font-family: Oswald;
      font-weight: bold;
      @media(max-width: 1023.98px){
        font-size: 2em;
      }
    }
    h5{
      font-size: 2.3em;
      font-family: Oswald;
    }
    .social-buttons{
      padding:10px;
      button {
        width: 100px;
        border-radius: 0;
        color: #fff; font-family: inherit; font-size: 1.4em;
        &.facebook {
          background-color: #3b5999;
        }
        &.twitter {
          background-color: #55acef;
        }
        &.whatsapp {
          background-color: #26d367;
        }
        &.email {
          background-color: #7d7d7d;
        }
      }
    }
  }
  .detail-section {
    width: calc(100% - 315px);
    float: left;
  }
  .sidebar {
    width: 300px;
    float: right;
  }
  @media(max-width: 1200px){
    .title-section {
      width: calc(100% - 165px);
    }
    .detail-section {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
  @media(max-width: 1000px){
    .title-section {
      width: 100%;
      margin-left: 0;
    }
  }
  &.contact-info-section {
    background: rgb(232, 234, 233);
    .container {
      padding-top: 50px; padding-bottom: 50px;
      .row {
        margin-left: 150px;
        @media(max-width: 767.98px) {
          margin-left: 0;
        }
      }
      .col-full {
        width: 100%;
      }
      .col-half {
        width: 420px;
        @media(max-width: 767.98px) {
          width: 100%;
        }
      }
      h4 {
        font-size: 3.51em; color: #000; line-height: 1.3em; font-weight: bold;
      } 
      h5 {
        font-size: 2.3em; color: #fff; line-height: 1.5em;
      }
      label {
        display: inline-block; width: 100px; 
        vertical-align: top;
        font-size: 1.14em; color: #000;
      }
      span {
        display: inline-block; width: calc(100% - 120px);
        color: #444; font-size: 1.14em;
      }
      a {
        color: #000;
        &:hover {
          color: #fff;
        }
        &.facebook-btn{
          background: url('../../../assets/img/facebook_1.png') no-repeat center center;
          display:inline-block; width: 40px; height: 40px; margin-right: 10px;
          &:hover{
            background-image: url('../../../assets/img/facebook_2.png');
          }
        }
        &.twitter-btn{
          background: url('../../../assets/img/twitter_1.png') no-repeat center center;
          display:inline-block; width: 40px; height: 40px; margin-right: 10px;
          &:hover{
            background-image: url('../../../assets/img/twitter_2.png');
          }
        }
        &.instagram-btn{
          background: url('../../../assets/img/instagram_1.png') no-repeat center center;
          display:inline-block; width: 40px; height: 40px; margin-right: 10px;
          &:hover{
            background-image: url('../../../assets/img/instagram_2.png');
          }
        }
        &.ubereats-btn {
          background: url('../../../assets/img/ubereats_1.png') no-repeat center center;
          display:inline-block; width: 91px; height: 40px; margin-right: 10px;
          &:hover{
            background-image: url('../../../assets/img/ubereats_2.png');
          }
        }
        &.sindelantal-btn {
          background: url('../../../assets/img/sindelantal_1.png') no-repeat center center;
          display:inline-block; width: 127px; height: 54px; margin-right: 10px;
          &:hover{
            background-image: url('../../../assets/img/sindelantal_2.png');
          }
          
        }
      }

    }
  }
  
}
.item-box {
  overflow: hidden;
  margin-top: 20px;
  .list-box {
    width: 130px;
    float: left;
    @media(max-width: 767.98px){
      & {
        display: none;
      }
    }
    button {
      width: 100%;
      text-align: left; color: #5a5a5a; font-family: inherit; font-size: 1.4em;
      padding-left: 8px;
      &.active {
        background-color: #b0b0b0; color: #fff;
      }
    }
  }
  .content-box {
    width: calc(100% - 150px); float: right;
    overflow: hidden; margin-bottom: 20px;
    @media(max-width: 767.98px){
      & {
        width: 100%;
      }
    }
    .description-content {
      h4 {
        color: #212529; font-size: 2em;
      }
      p {
        color: #212529; font-size: 1.14em;
      }
    }
    agm-map {
      height: 400px;
      @media (max-width: 767.98px) {
        height: 320px;
      }
      @media (max-width: 479.98px) {
        height: 240px;
      }
    }
    .slider-section {
      .jssor1-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
  
      @keyframes jssorl-009-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
  
      .jssorb052 .i {position:absolute;cursor:pointer;}
      .jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
      .jssorb052 .i:hover .b {fill-opacity:.7;}
      .jssorb052 .iav .b {fill-opacity: 1;}
      .jssorb052 .i.idn {opacity:.3;}
  
      .jssora053 {display:block;position:absolute;cursor:pointer;}
      .jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
      .jssora053:hover {opacity:.8;}
      .jssora053.jssora053dn {opacity:.5;}
      .jssora053.jssora053ds {opacity:.3;pointer-events:none;}
    }
  }
}