.container-fluid {
  background-color: #fff;
  &.background-image {
    background-image: url('assets/img/event/portada_01.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }  
  img {
    padding-right: 1%;
  }
  .title-section {
    margin-left: 150px; margin-top: 300px;
    width: calc(100% - 465px);
    background-color: #fff;
    height: 200px; padding: 30px;
    position: relative;    
    h2.title{
      font-size: 3.51em;
      font-family: Oswald;
      font-weight: bold;
      @media(max-width: 1023.98px){
        font-size: 2em;
      }
    }
    h5{
      font-size: 2.3em;
      font-family: Oswald;
    }
    .social-buttons{
      padding:10px;
      button {
        width: 100px;
        border-radius: 0;
        color: #fff;
        &.facebook {
          background-color: #3b5999;
        }
        &.twitter {
          background-color: #55acef;
        }
        &.whatsapp {
          background-color: #26d367;
        }
        &.email {
          background-color: #7d7d7d;
        }
      }
    }
    .arrow-buttons {
      position: absolute;
      top: 10px; right: 10px;
      button {
        background-color: #ccc;
        margin-left: 10px;
        color: #888;
        /deep/ .mat-button-wrapper{
          .mat-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
  .detail-section {
    width: calc(100% - 315px); float: left;    
    margin-top: 30px; margin-bottom: 30px;
  }
  .sidebar {
    width: 300px;
    float: right;
  }
  @media(max-width: 1200px){
    .title-section {
      width: calc(100% - 165px);
    }
    .detail-section {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
  @media(max-width: 1000px){
    .title-section {
      width: 100%;
      margin-left: 0;
    }
  }

  .detail-section {
    margin-top: 30px; margin-bottom: 30px;
    .time-box {
      width: 110px; float: left;
      background-color: #e9e9e9;
      padding: 10px;
      p {
        margin: 0;
      }
      .time-t1 {
        font-size: 2.5em; 
      }
      .time-t2 {
        font-size: 1.7em; font-weight: bold; text-transform: uppercase;
      }
    }
    .content-box {
      width: calc(100% - 150px); float: right;
      overflow: hidden; margin-bottom: 20px;
      @media (max-width: 1000px) {
        width: 100%;
      }
      &.hotnews-box{
        .img-wrapper {
          width: 330px;
          float: left; position: relative;
          @media(max-width: 768px){
            &{
              width: 100%;
            }
          }
          img {
            width: 100%; padding-right: 0; 
          }
          .title {
            background-color: rgba(250, 123, 10, 0.8);
          position: absolute;
          top: 0; left: 0;
          color: #fff; letter-spacing: 1px; 
          padding: 5px 10px;
          }
        }
        .right-wrapper {
          float: right; 
          width: calc(100% - 330px); 
          padding: 10px;
          background-color: #e9e9e9;
          @media(max-width: 768px){
            &{
              width: 100%;
            }
          }
          .title {
            a {
              font-size: 1.7em; color: inherit; text-overflow: ellipsis; white-space: nowrap; 
              overflow: hidden; display: block;
            }
          }
          .subtitle {
            text-overflow: ellipsis; white-space: nowrap; 
            overflow: hidden; height: 20px;
          }
          .short_desc {
            height: 120px; margin-top:15px; overflow: hidden;
          }
          button {
            margin-right: 5px; padding-top: 5px;
            background: #b0b0b0; border: 0 none; 
            color: #fff;
            cursor: pointer;
            &:hover {
              background-color: #079030;
            }
          }
        }
      }
    }
  }
}