<div class="item-box">
  <div class="list-box">
    <button mat-button class="active">RESTAURANTES</button>
    <button mat-button>Argentina</button>
    <button mat-button>Fusión</button>
    <button mat-button>Hamburguesas</button>
    <button mat-button>Italiana</button>
    <button mat-button>Japonesa</button>
    <button mat-button>Mariscos</button>
    <button mat-button>Mexicana</button>
    <button mat-button>Pizza</button>
    <button mat-button>Tailandesa</button>
  </div>
  <div class="content-box">
    <div class="description-content">
      <h4>Fusión Oriental</h4>
      <p>ThaiWok es un restaurante de comida oriental que fusiona elementos de la gastronomía tailandesa, japonesa y china, preparados con ingredientes auténticos que importa del lejano oriente y que presenta adaptados al gusto de los mexicanos.</p>
      <h4>Especialidad de la casa</h4>
      <p>Aunque su carta es variada y ofrece desde ensaladas, sopas, sushi, yakimeshi hasta postres, aquí todo gira en torno a los noodles, que son su especialidad. Hay cinco tipos de fideo a elegir (espaguetti, rice stick, udon, soba yaki y egg noodle) y los más vendidos llevan bambú, pimiento verde, brócoli y cacahuate con salsa Bangkok, una salsa agripicante exclusiva de ThaiWok que se prepara en el restaurante siguiendo la receta secreta.</p>
      <h4>Cosas diferentes que probar</h4>
      <p>La Tom kha gai es una sopa de leche de coco, es picosita, lleva pollo, brócoli y shitake y está buenísima. Vale la pena probarla porque en León no encontrarás una igual ya que es traída desde Tailandia.</p>
      <p>El Arroz Japonés es un arroz frito con pollo, arrachera, cubitos de queso Philadelphia, aguacate y ensalada de kanikama (surimi de cangrejo importado) con salsa de anguila.</p>
      <p>Otro que se vende mucho y no lo encuentras fácilmente en otro lado es el rollito primavera de cangrejo, con queso crema, chipotle y kanikama.</p>
      <h4>De tomar</h4>
      <p>Además de las opciones habituales, prueba el Ramune, un refresco japonés con una canica adentro que tiene un diseño de botella y una forma de abrirse totalmente diferente. El Glinter, un refresco traído de Malasia con sabores de frutas como el Lychee, una fruta dulce color rojo por fuera y blanco por dentro.</p>
      <h4>Plaza Sevilla</h4>
      <p>La sucursal Plaza Sevilla está sobre el Bulevar Morelos afuera de Brisas del Lago y cuenta con amplio estacionamiento. Puedes comer adentro en sus dos pisos, afuera en la pequeña terraza, pedirlo para llevar u ordenarlo a domicilio. Los Martes Sushi 2x1 y los Miércoles Noodles 2x1.</p>
    </div>
    <div class="slider-section">
      <div class="flexslider">
        <ul class="slides">
          <li>
              <img data-u="image" src="assets/img/restaurant/foto01-g.jpg" />
          </li>
          <li>
              <img data-u="image" src="assets/img/restaurant/foto02-g.jpg" />
          </li>
          <li>
              <img data-u="image" src="assets/img/restaurant/foto03-g.jpg" />
          </li>
          <li>
              <img data-u="image" src="assets/img/restaurant/foto04-g.jpg" />
          </li>
          <li>
              <img data-u="image" src="assets/img/restaurant/foto05-g.jpg" />
          </li>
          <li>
              <img data-u="image" src="assets/img/restaurant/foto06-g.jpg" />
          </li>
        </ul>
      </div>
    </div>
    <div class="map-section">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    
  </div>
</div>