<div class="item-box">
  <div class="list-box">
    <button mat-button class="active">RESTAURANTES</button>
    <button mat-button>Argentina</button>
    <button mat-button>Fusión</button>
    <button mat-button>Hamburguesas</button>
    <button mat-button>Italiana</button>
    <button mat-button>Japonesa</button>
    <button mat-button>Mariscos</button>
    <button mat-button>Mexicana</button>
    <button mat-button>Pizza</button>
    <button mat-button>Tailandesa</button>
  </div>
  <div class="content-box">
    <div class="description-content">
      <h4>Fusión Oriental</h4>
      <p>ThaiWok es un restaurante de comida oriental que fusiona elementos de la gastronomía tailandesa, japonesa y china, preparados con ingredientes auténticos que importa del lejano oriente y que presenta adaptados al gusto de los mexicanos.</p>
      <h4>Especialidad de la casa</h4>
      <p>Aunque su carta es variada y ofrece desde ensaladas, sopas, sushi, yakimeshi hasta postres, aquí todo gira en torno a los noodles, que son su especialidad. Hay cinco tipos de fideo a elegir (espaguetti, rice stick, udon, soba yaki y egg noodle) y los más vendidos llevan bambú, pimiento verde, brócoli y cacahuate con salsa Bangkok, una salsa agripicante exclusiva de ThaiWok que se prepara en el restaurante siguiendo la receta secreta.</p>
      <h4>Cosas diferentes que probar</h4>
      <p>La Tom kha gai es una sopa de leche de coco, es picosita, lleva pollo, brócoli y shitake y está buenísima. Vale la pena probarla porque en León no encontrarás una igual ya que es traída desde Tailandia.</p>
      <p>El Arroz Japonés es un arroz frito con pollo, arrachera, cubitos de queso Philadelphia, aguacate y ensalada de kanikama (surimi de cangrejo importado) con salsa de anguila.</p>
      <p>Otro que se vende mucho y no lo encuentras fácilmente en otro lado es el rollito primavera de cangrejo, con queso crema, chipotle y kanikama.</p>
      <h4>De tomar</h4>
      <p>Además de las opciones habituales, prueba el Ramune, un refresco japonés con una canica adentro que tiene un diseño de botella y una forma de abrirse totalmente diferente. El Glinter, un refresco traído de Malasia con sabores de frutas como el Lychee, una fruta dulce color rojo por fuera y blanco por dentro.</p>
      <h4>Plaza Sevilla</h4>
      <p>La sucursal Plaza Sevilla está sobre el Bulevar Morelos afuera de Brisas del Lago y cuenta con amplio estacionamiento. Puedes comer adentro en sus dos pisos, afuera en la pequeña terraza, pedirlo para llevar u ordenarlo a domicilio. Los Martes Sushi 2x1 y los Miércoles Noodles 2x1.</p>
    </div>
    <div class="slider-section">
      <div id="jssor_2" style="position:relative;margin:0 auto;top:0px;left:0px;width:1400px;height:1000px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
          <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="assets/img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1400px;height:1000px;overflow:hidden;">
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto01-g.jpg" />
          </div>
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto02-g.jpg" />
          </div>
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto03-g.jpg" />
          </div>
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto04-g.jpg" />
            </div>
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto05-g.jpg" />
          </div>
          <div>
            <img data-u="image" src="assets/img/descubreleon/restaurantes/thaiwok/foto06-g.jpg" />
          </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb052" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
          <div data-u="prototype" class="i" style="width:16px;height:16px;">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
              <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
          </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora053" style="width:60px;height:60px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
          <svg viewBox="0 0 129 129" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <g>
              <g>
                <path d="m64.5,122.6c32,0 58.1-26 58.1-58.1s-26-58-58.1-58-58,26-58,58 26,58.1 58,58.1zm0-108c27.5,5.32907e-15 49.9,22.4 49.9,49.9s-22.4,49.9-49.9,49.9-49.9-22.4-49.9-49.9 22.4-49.9 49.9-49.9z" fill="#FFFFFF"/>
                <path d="m70,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-23.5-23.5 23.5-23.5c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-26.4,26.4c-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9l26.4,26.4z" fill="#FFFFFF"/>
              </g>
            </g>
          </svg>
        </div>
        <div data-u="arrowright" class="jssora053" style="width:60px;height:60px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
          <svg viewBox="0 0 129 129" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <g>
              <g>
                <path d="M64.5,122.6c32,0,58.1-26,58.1-58.1S96.5,6.4,64.5,6.4S6.4,32.5,6.4,64.5S32.5,122.6,64.5,122.6z M64.5,14.6    c27.5,0,49.9,22.4,49.9,49.9S92,114.4,64.5,114.4S14.6,92,14.6,64.5S37,14.6,64.5,14.6z" fill="#FFFFFF"/>
                <path d="m51.1,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l26.4-26.4c0.8-0.8 1.2-1.8 1.2-2.9 0-1.1-0.4-2.1-1.2-2.9l-26.4-26.4c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l23.5,23.5-23.5,23.5c-1.6,1.6-1.6,4.2 0,5.8z" fill="#FFFFFF"/>
              </g>
            </g>        
          </svg>
        </div>
      </div>
    </div>
    <div class="map-section">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    
  </div>
</div>