/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/oswald-regular-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f4f3f3;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 479.98px) {
  body { 
    font-size: 10px;
  }
}

ul{
  list-style: none;
  padding-left: 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}
