<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 style="font-size: 40px; font-weight: bold; margin: 10px 0;">DESTACADO ESTE MES</h3>
      </div>
    </div>      
  </div>
</div>
<div style="width: 100%; overflow: hidden;">
  <!-- Start Swiper Slider -->

  <div data-loop="true" data-autoplay="2000" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 bg-gray-base">
    <div class="swiper-wrapper text-center">
      <div data-slide-bg="assets/img/home/inicio-slider_1.jpg" class="swiper-slide" style="background-image:url(assets/img/home/inicio-slider_1.jpg)">
        <div class="swiper-slide-caption">
          <div class="shell">
            <div class="range range-sm-center">
              <div class="col-sm-11 col-md-10 col-lg-9 mx-auto">
                <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header  ma-1">Welcome to Starbis</h2>
                <div class="group-xl-responsive ma-3"><a data-caption-animate="fadeInUp" data-caption-delay="150" href="#" data-custom-scroll-to="section-start-journey" class="btn btn-xl btn-white-outline-variant-1">Start a journey</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-slide-bg="assets/img/home/inicio-slider_2.jpg" class="swiper-slide">
        <div class="swiper-slide-caption">
          <div class="shell">
            <div class="range range-sm-center">
              <div class="col-sm-11 col-md-10 col-lg-9 mx-auto">
                <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header ma-1">Unlimited Opportunities</h2>
                <div class="group-xl-responsive ma-3"><a data-caption-animate="fadeInUp" data-caption-delay="150" href="#" data-custom-scroll-to="section-start-journey" class="btn btn-xl btn-white-outline-variant-1">Start a journey</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-slide-bg="assets/img/home/inicio-slider_3.jpg" class="swiper-slide">
        <div class="swiper-slide-caption">
          <div class="shell">
            <div class="range range-sm-center">
              <div class="col-sm-11 col-md-10 col-lg-9 mx-auto">
                <h2 data-caption-animate="fadeInUp" data-caption-delay="0s" class="slider-header ma-1">Ultra Sharp & Responsive</h2>
                <div class="group-xl-responsive ma-3"><a data-caption-animate="fadeInUp" data-caption-delay="150" href="#" data-custom-scroll-to="section-start-journey" class="btn btn-xl btn-white-outline-variant-1">Start a journey</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
  </div>
  <!-- End Swiper Slider -->

</div>

