<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 style="font-size: 45px; font-weight: bold; margin: 10px 0;">DESTACADO ESTE MES</h3>
      </div>
    </div>      
  </div>
</div>
<div style="width: 100%">
  <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:2500px;height:800px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
      <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="assets/img/spin.svg" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:2500px;height:800px;overflow:hidden;">
      <div>
        <img data-u="image" src="assets/img/home/inicio-slider_1.jpg" />
        <div class="container">
          
        </div>
        <div data-t="0" style="position:absolute;top:820px;left:200px;width:800px;height:auto;">
          <p style="font-family:Oswald,sans-serif;font-size:56px;font-weight:200;line-height:1.2;text-align:left;color: #fff;">Enero 14</p>
          <p style="font-family:Oswald,sans-serif;font-size:72px;font-weight:400;line-height:1.2;text-align:left;color: #fff;">RÍO ROMA</p>
          <p style="font-family:Oswald,sans-serif;font-size:56px;font-weight:200;line-height:1.2;text-align:left;color: #fff;">Centro de Espectáculos de la Feria	</p>
        </div>
      </div>
      <div>
        <img data-u="image" src="assets/img/home/inicio-slider_2.jpg" />
      </div>
      <div>
        <img data-u="image" src="assets/img/home/inicio-slider_3.jpg" />
      </div>
      <div>
        <img data-u="image" src="assets/img/home/inicio-slider_4.jpg" />
      </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb052" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
      <div data-u="prototype" class="i" style="width:16px;height:16px;">
        <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <circle class="b" cx="8000" cy="8000" r="5800"></circle>
        </svg>
      </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora053" style="width:100px;height:100px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
      <svg viewBox="0 0 129 129" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <g>
          <g>
            <path d="m64.5,122.6c32,0 58.1-26 58.1-58.1s-26-58-58.1-58-58,26-58,58 26,58.1 58,58.1zm0-108c27.5,5.32907e-15 49.9,22.4 49.9,49.9s-22.4,49.9-49.9,49.9-49.9-22.4-49.9-49.9 22.4-49.9 49.9-49.9z" fill="#FFFFFF"/>
            <path d="m70,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2 1.6-1.6 1.6-4.2 0-5.8l-23.5-23.5 23.5-23.5c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-26.4,26.4c-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9l26.4,26.4z" fill="#FFFFFF"/>
          </g>
        </g>
      </svg>
    </div>
    <div data-u="arrowright" class="jssora053" style="width:100px;height:100px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
      <svg viewBox="0 0 129 129" style="position:absolute;top:0;left:0;width:100%;height:100%;">
        <g>
          <g>
            <path d="M64.5,122.6c32,0,58.1-26,58.1-58.1S96.5,6.4,64.5,6.4S6.4,32.5,6.4,64.5S32.5,122.6,64.5,122.6z M64.5,14.6    c27.5,0,49.9,22.4,49.9,49.9S92,114.4,64.5,114.4S14.6,92,14.6,64.5S37,14.6,64.5,14.6z" fill="#FFFFFF"/>
            <path d="m51.1,93.5c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l26.4-26.4c0.8-0.8 1.2-1.8 1.2-2.9 0-1.1-0.4-2.1-1.2-2.9l-26.4-26.4c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l23.5,23.5-23.5,23.5c-1.6,1.6-1.6,4.2 0,5.8z" fill="#FFFFFF"/>
          </g>
        </g>        
      </svg>
    </div>
  </div>
</div>

